#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

#app-bg {
  width: 100vw;
  height: 100vh;
  filter: blur(16px) brightness(60%);
  position: relative;
  z-index: -2;
}

/*
    重写滚动条样式
 */

::-webkit-scrollbar {
  width: 4px;
}

/*  滑块部分  */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2);
}

/*  剩余部分  */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

video {
  width: 80vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 15px;
}

[v-cloak] {
  display: none;
}

.nav-wrapper {
  position: absolute;
  left: 0;
  top: 45px;
  width: 10vw;
  overflow: hidden;
}

.nav-content {
  font-size: 16px;
  white-space: nowrap;
}

.nav-content a {
  display: block;
  height: 32px;
  line-height: 32px;
  color: #c0c0c0;
  text-decoration: none;
  margin: 10px 0;
}

.nav-content a.router-link-exact-active {
  font-size: 18px;
  font-weight: 700;
  color: #e5e5e5;
}

.top-info {
  color: #ff4040;
  width: 100vw;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  top: 45px;
  left: 10vw;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px 20px 0 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  color: #d9d9d9;
}

.items {
  margin: 10px;
}

.items:hover {
  color: #fff;
}

.name,
.items-name {
  text-align: center;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 40px;
}

.content {
  width: 88vw;
  height: 82vh;
  overflow: hidden;
}

.main img {
  width: 160px;
  height: 160px;
  border-radius: 10%;
  opacity: 0.75;
}

.items-img {
  position: relative;
}

.items-mv-img {
  position: relative;
}

.items-img:hover .abso-img {
  opacity: 0.7;
}

.items-mv-img:hover .abso-img {
  opacity: 0.7;
  border-radius: 10px;
}

.abso-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  position: absolute;
  z-index: 2;
  background-position: center;
  background-image: url("../assets/play_icon.png");
  transition: all 0.5s;
}

.play-count {
  position: absolute;
  right: 10px;
  top: 10px;
}

.items-img span {
  margin-left: 5px;
}

.main img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -3px, 0);
  transition: all 0.5s;
  opacity: 0.9;
}

.male {
  color: rgb(55, 171, 248);
}

.female {
  color: pink;
}

.bottom {
  position: absolute;
  bottom: 10px;
  left: 5px;
  max-width: 100%;
  z-index: 9;
  text-align: left;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-trans-enter-active,
.fade-trans-leave-active {
  transition: opacity 2s;
  animation: bounce-in 3s;
}

.fade-trans-enter,
.fade-trans-leave-to {
  opacity: 0;
}

.fade-trans-enter-to,
.fade-trans-leave {
  opacity: 1;
}

@keyframes bounce-in {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.user-info {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.searchInput {
  width: 50%;
}

.type-select {
  width: 80px;
}

.searchWord {
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-input-content {
  font-size: 12px;
  color: #b4b4b4;
}

.search-singer:hover {
  cursor: pointer;
}

.h-wrapper {
  display: inline-block;
}

.content-username {
  color: #5aacc8;
  transition: all 0.5s;
}

.content-username:hover {
  color: rgb(16, 228, 104);
  border-bottom: 1px solid rgb(16, 228, 104);
  cursor: pointer;
}

.user-content {
  background: rgba(0, 0, 0, 0.5);
}

.like-icon,
.share-icon,
.sub-icon,
.comment-icon {
  margin: 0 10px;
  font-size: 1.3em;
}

.like-icon {
  color: #ed959f;
}

.sub-icon {
  color: #ffdf07;
}

.share-icon {
  color: bisque;
}

.comment-icon {
  color: cornflowerblue;
}

.album-desc {
  white-space: pre-wrap;
  text-align: left;
  color: #b4b4b4;
  margin: 0 30px;
}

.mv-detail {
  text-align: left;
  margin-left: 10px;
}

.mv-detail-item {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  video {
    width: 75vw;
  }

  .nav-wrapper {
    width: 20vw;
    height: 70vh;
    overflow-y: scroll;
  }

  .main img {
    width: 120px;
    height: 120px;
  }

  .bottom {
    width: 110px;
    font-size: 12px;
  }

  .center {
    left: 20vw;
  }

  .content {
    width: 80vw;
    height: 72vh;
  }

  .name,
  .items-name {
    max-width: 100px;
    font-size: 14px;
    height: 36px;
  }

  .searchInput {
    width: 90%;
  }
}
