#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin: 0 auto;
    background-color: #282c34;
    min-height: 100vh;
    overflow: hidden;
}


/*
    重写滚动条样式
 */

::-webkit-scrollbar {
    width: 4px;
}


/*  滑块部分  */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.2);
}


/*  剩余部分  */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

[v-cloak] {
    display: none;
}

.home {
    position: sticky;
    height: 42vh;
    overflow: hidden;
}

.center {
    background-color: #282c34;
}

#searchResult,
#searchSingers,
#searchLyrics,
#searchDetails,
#searchUser {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
}

#controlPc {
    position: absolute;
    z-index: 66;
    right: 5px;
}

.items:hover {
    color: #1ba2f0;
}

.name {
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.backTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    color: rgba(5, 124, 190, 0.87);
    background-color: #9d9b9b;
    padding: 10px;
    border-radius: 50%;
    animation: show 0.5s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fa-2x {
    font-size: 1.6em;
}

.content {
    height: 52vh;
    overflow: hidden;
}

.main img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    opacity: 0.75;
    margin: 10px;
}

.main img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -3px, 0);
    transition: all 0.3s;
}

.bottom {
    position: absolute;
    margin: 5px;
    font-size: 14px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 9;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}

.el-tag {
    margin: 5px;
}

.el-tag:hover {
    cursor: pointer;
}

.box-card {
    width: 80vw;
    margin: 10px auto;
    color: #f8dd0d !important;
    background-color: #9d9b9b !important;
}

.el-collapse-item__header {
    background-color: #c7c6c6 !important;
    text-align: center;
    padding: 0 10%;
}

.el-collapse-item__content {
    color: #ef788d;
    padding: 10px;
}

.el-avatar {
    margin-right: 5px;
}

.el-button {
    padding: 10px 15px;
}

.el-badge__content {
    background-color: rgb(200, 100, 100);
}

.items .el-badge__content.is-fixed {
    top: 15px;
    right: 40px;
    z-index: 6;
}

.el-drawer {
    color: black;
    background-color: #bfbfbf;
    text-align: center;
}

.switch-item {
    margin: 10px;
}

.switch-item span {
    margin-right: 10px;
}

.el-pagination {
    margin-top: 15px;
}

.el-pagination__total {
    color: white;
}

.el-drawer {
    width: 50vw !important;
}

.page-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.page-content {
    display: inline-block;
}

.user-info {
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .main img {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    .bottom {
        width: 80px;
        font-size: 12px;
    }
    .home {
        height: 30vh;
    }
    .content {
        height: 64vh;
    }
    .name {
        width: 100px;
        font-size: 12px;
    }
    .el-dialog,
    .el-card {
        width: 80vw;
    }
    .el-badge__content.is-fixed {
        top: 10px;
        right: 35px;
    }
    .el-drawer {
        width: 80vw !important;
        height: 100vh !important;
    }
}