#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin: 0 auto;
    background-color: #aec2b7;
    min-height: 100vh;
}

[v-cloak] {
    display: none;
}

.home {
    position: sticky;
    height: 42vh;
    overflow: hidden;
}

.center {
    background-color: #282c34;
}

#user,
#userFollow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main {
    flex: 1;
    font-size: 14px;
}

.items:hover {
    color: #ff6c80;
}

.items:hover .play {
    cursor: pointer;
    opacity: 0.75;
}

.name {
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.backTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    color: rgba(5, 124, 190, 0.87);
    background-color: #9d9b9b;
    padding: 10px;
    border-radius: 50%;
}

.fa-2x {
    font-size: 1.8em;
}

.content {
    height: 53vh;
    overflow-y: hidden;
}

.main img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    opacity: 0.75;
    margin: 10px;
}

.main img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -3px, 0);
    transition: all 0.3s;
}

.bottom {
    position: absolute;
    margin: 5px;
    font-size: 14px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 9;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.el-tag {
    margin: 5px;
}

.el-tag:hover {
    cursor: pointer;
}

.box-card {
    width: 80vw;
    margin: 10px auto;
    color: #f8dd0d !important;
    background-color: #9d9b9b !important;
}

.el-collapse-item__header {
    background-color: #c7c6c6 !important;
    text-align: center;
    padding: 0 10%;
}

.el-collapse-item__content {
    color: #ef788d;
    padding: 10px;
}

.el-avatar {
    margin-right: 5px;
}

.el-badge__content {
    background-color: rgb(200, 100, 100);
}

.el-badge__content.is-fixed {
    top: 15px;
    right: 40px;
    z-index: 6;
}

.user-info {
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .main img {
        width: 100px;
        height: 100px;
    }
    .bottom {
        width: 80px;
        font-size: 12px;
    }
    .home {
        height: 32vh;
    }
    .content {
        height: 62vh;
    }
    .name {
        width: 100px;
        font-size: 12px;
    }
    .el-dialog,
    .el-card {
        width: 80vw;
    }
    .el-badge__content.is-fixed {
        top: 10px;
        right: 35px;
    }
}